<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user form</title>
</head>
<body>
    <form th:method="post" th:action="@{/users}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}">
        <br>
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{username}">
        <br>
        <label for="password">Password</label>
        <input type="text" id="password" th:field="*{password}">
        <br>

        <input type="submit" value="Add user">
    </form>
</body>
</html>