<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User page</title>
  <style type="text/css">
    TABLE {
      width: 600px; /* Ширина таблицы */
    }
    TD, TH {
      padding: 3px; /* Поля вокруг содержимого ячеек */
      border-bottom: 1px solid #000; /* Линия снизу */
    }
    TH {
      border-bottom: 1px solid #000; /* Линия снизу */
    }
    .vl {
      border-right: 1px solid #000; /* Линия справа */
    }
  </style>
</head>
<body>
  <h2>User</h2>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="vl" th:text="${user.getId()}"></td>
      <td class="vl" th:text="${user.getName()}"></td>
      <td class="vl" th:text="${user.getUsername()}"></td>
      <td class="vl" th:text="${user.getPassword()}"></td>
      <td class="vl" th:text="${user.getRoles()}"></td>
      <br>
    </tr>
    </tbody>
  </table>
  <button><a th:href="@{/admin/users}">Users</a></button>
  <button><a th:href="@{/logout}">Logout</a></button>

</body>
</html>