<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>userList</title>
  <style type="text/css">
    TABLE {
      width: 550px; /* Ширина таблицы */
    }
    TD, TH {
      padding: 3px; /* Поля вокруг содержимого ячеек */
      border-bottom: 1px solid #000; /* Линия снизу */
    }
    TH {
      border-bottom: 1px solid #000; /* Линия снизу */
    }
    .vl {
      border-right: 1px solid #000; /* Линия справа */
    }
  </style>
</head>
<body>
  <div th:switch="${users}">
    <h3 th:case="null">No users data</h3>
    <div th:case="*">
      <h2>Users</h2>
      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td class="vl" th:text="${user.id}"></td>
          <td class="vl" th:text="${user.name}"></td>
          <td class="vl" th:text="${user.username}"></td>
          <td class="vl" th:text="${user.password}"></td>
          <td class="vl" th:text="${user.roles}"></td>
          <td>
            <button><a th:href="@{/admin/users/{id}(id=${user.id})}">View</a></button>
            <button><a th:href="@{/admin/users/{id}/user-edit(id=${user.id})}">Edit</a></button>
            <form th:method="delete" th:action="@{/admin/users/{id}/user-delete(id=${user.id})}">
              <input  type="submit" value="Delete">
            </form>
          </td>
        </tr>
        </tbody>
      </table>

      <button><a th:href="@{/admin/users/user-create}">Create new User</a></button>
      <button><a th:href="@{/logout}">Logout</a></button>

    </div>
  </div>
</body>
</html>